ul{
    list-style: none;
    width: 80%;
    margin: auto;
}
ul li {
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
ul li p {
    margin: auto 0;
}